<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-succes"></div>
    <div class="w-100 toast-capper bg-succes"></div>
    <div class="toast-header bt-white text-dark">
        <strong class="mr-auto">Succes!</strong>
        <button type="button" class="ml-1 mb-2 close text-darken" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        {{ message }}
    </div>
</div>